.imageupload {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
.fileUpload {
  margin-top: 16px;
  margin-bottom: 20px;
}
.imageupload-progress {
  width: 100%;
  margin-bottom: 10px;
}
.btn-upload {
  margin-top: 10px;
}
